docker : mysqldump: [Warning] Using a password on the command line interface can be 
insecure.
En línea: 1 Carácter: 1
+ docker exec mydb_container mysqldump -uuser -ppass mydb > "c:\Users\a ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysqldump: [War...an be insecure.:String 
   ) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
-- MySQL dump 10.13  Distrib 8.0.43, for Linux (x86_64)
--
-- Host: localhost    Database: mydb
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
mysqldump: Error: 'Access denied; you need (at least one of) the PROCESS privilege(s) 
for this operation' when trying to dump tablespaces

--
-- Table structure for table `Chofer`
--

DROP TABLE IF EXISTS `Chofer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Chofer` (
  `idChofer` int NOT NULL AUTO_INCREMENT,
  `dni` int DEFAULT NULL,
  `estadoDisponibilidad` enum('Libre','Ocupado','Inhabilitado') NOT NULL,
  `idPersona` int NOT NULL,
  PRIMARY KEY (`idChofer`),
  UNIQUE KEY `idChofer_UNIQUE` (`idChofer`),
  KEY `fk_Chofer_Persona1_idx` (`idPersona`),
  CONSTRAINT `fk_Chofer_Persona1` FOREIGN KEY (`idPersona`) REFERENCES `Persona` (`idPersona`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Chofer`
--

LOCK TABLES `Chofer` WRITE;
/*!40000 ALTER TABLE `Chofer` DISABLE KEYS */;
/*!40000 ALTER TABLE `Chofer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ChoferXVehiculo`
--

DROP TABLE IF EXISTS `ChoferXVehiculo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ChoferXVehiculo` (
  `idChoferVehiculo` int NOT NULL AUTO_INCREMENT,
  `idChofer` int NOT NULL,
  `idVehiculo` int NOT NULL,
  `fechaAsignacion` date NOT NULL,
  PRIMARY KEY (`idChoferVehiculo`),
  UNIQUE KEY `uq_chofer_vehiculo` (`idChofer`,`idVehiculo`),
  KEY `fk_ChoferXVehiculo_Chofer1_idx` (`idChofer`),
  KEY `fk_ChoferXVehiculo_Vehiculo1_idx` (`idVehiculo`),
  CONSTRAINT `fk_ChoferXVehiculo_Chofer1` FOREIGN KEY (`idChofer`) REFERENCES `Chofer` (`idChofer`),
  CONSTRAINT `fk_ChoferXVehiculo_Vehiculo1` FOREIGN KEY (`idVehiculo`) REFERENCES `Vehiculo` (`idVehiculo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ChoferXVehiculo`
--

LOCK TABLES `ChoferXVehiculo` WRITE;
/*!40000 ALTER TABLE `ChoferXVehiculo` DISABLE KEYS */;
/*!40000 ALTER TABLE `ChoferXVehiculo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Cliente`
--

DROP TABLE IF EXISTS `Cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Cliente` (
  `idCliente` int NOT NULL AUTO_INCREMENT,
  `correo` varchar(45) DEFAULT NULL,
  `observaciones` varchar(45) DEFAULT NULL,
  `razonSocial` varchar(45) DEFAULT NULL,
  `tipo` varchar(45) DEFAULT NULL,
  `idPersona` int NOT NULL,
  `idLocalidad` int NOT NULL,
  PRIMARY KEY (`idCliente`),
  UNIQUE KEY `idCliente_UNIQUE` (`idCliente`),
  KEY `fk_Cliente_Persona1_idx` (`idPersona`),
  KEY `fk_Cliente_Localidad1_idx` (`idLocalidad`),
  CONSTRAINT `fk_Cliente_Localidad1` FOREIGN KEY (`idLocalidad`) REFERENCES `Localidad` (`idLocalidad`),
  CONSTRAINT `fk_Cliente_Persona1` FOREIGN KEY (`idPersona`) REFERENCES `Persona` (`idPersona`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Cliente`
--

LOCK TABLES `Cliente` WRITE;
/*!40000 ALTER TABLE `Cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `Cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Documentacion`
--

DROP TABLE IF EXISTS `Documentacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Documentacion` (
  `idDocumentacion` int NOT NULL AUTO_INCREMENT,
  `detalle` varchar(100) DEFAULT NULL,
  `estado` enum('Vigente','Vencida') DEFAULT NULL,
  `nombre` varchar(45) DEFAULT NULL,
  `renovacion` int DEFAULT NULL,
  `fechaVencimiento` date DEFAULT NULL,
  `idVehiculo` int DEFAULT NULL,
  `idChofer` int DEFAULT NULL,
  PRIMARY KEY (`idDocumentacion`),
  KEY `fk_Documentacion_Vehiculo1_idx` (`idVehiculo`),
  KEY `fk_Documentacion_Chofer1_idx` (`idChofer`),
  CONSTRAINT `fk_Documentacion_Chofer1` FOREIGN KEY (`idChofer`) REFERENCES `Chofer` (`idChofer`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_Documentacion_Vehiculo1` FOREIGN KEY (`idVehiculo`) REFERENCES `Vehiculo` (`idVehiculo`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Documentacion`
--

LOCK TABLES `Documentacion` WRITE;
/*!40000 ALTER TABLE `Documentacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `Documentacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Gasto`
--

DROP TABLE IF EXISTS `Gasto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Gasto` (
  `idGasto` int NOT NULL AUTO_INCREMENT,
  `detalle` varchar(255) DEFAULT NULL,
  `monto` float DEFAULT NULL,
  `tipo` varchar(45) DEFAULT NULL,
  `idViaje` int NOT NULL,
  PRIMARY KEY (`idGasto`,`idViaje`),
  UNIQUE KEY `idGasto_UNIQUE` (`idGasto`),
  KEY `fk_Gasto_Viaje1_idx` (`idViaje`),
  CONSTRAINT `fk_Gasto_Viaje1` FOREIGN KEY (`idViaje`) REFERENCES `Viaje` (`idViaje`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Gasto`
--

LOCK TABLES `Gasto` WRITE;
/*!40000 ALTER TABLE `Gasto` DISABLE KEYS */;
/*!40000 ALTER TABLE `Gasto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Localidad`
--

DROP TABLE IF EXISTS `Localidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Localidad` (
  `idLocalidad` int NOT NULL AUTO_INCREMENT,
  `codPostal` int DEFAULT NULL,
  `nombre` varchar(45) DEFAULT NULL,
  `idProvincia` int NOT NULL,
  PRIMARY KEY (`idLocalidad`),
  UNIQUE KEY `idLocalidad_UNIQUE` (`idLocalidad`),
  KEY `fk_Localidad_Provincia1_idx` (`idProvincia`),
  CONSTRAINT `fk_Localidad_Provincia1` FOREIGN KEY (`idProvincia`) REFERENCES `Provincia` (`idProvincia`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Localidad`
--

LOCK TABLES `Localidad` WRITE;
/*!40000 ALTER TABLE `Localidad` DISABLE KEYS */;
/*!40000 ALTER TABLE `Localidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Mantenimiento`
--

DROP TABLE IF EXISTS `Mantenimiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Mantenimiento` (
  `idMantenimiento` int NOT NULL AUTO_INCREMENT,
  `fecha` date DEFAULT NULL,
  `observaciones` varchar(255) DEFAULT NULL,
  `tipo` varchar(45) DEFAULT NULL,
  `idVehiculo` int NOT NULL,
  PRIMARY KEY (`idMantenimiento`),
  KEY `fk_Mantenimiento_Vehiculo1_idx` (`idVehiculo`),
  CONSTRAINT `fk_Mantenimiento_Vehiculo1` FOREIGN KEY (`idVehiculo`) REFERENCES `Vehiculo` (`idVehiculo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Mantenimiento`
--

LOCK TABLES `Mantenimiento` WRITE;
/*!40000 ALTER TABLE `Mantenimiento` DISABLE KEYS */;
/*!40000 ALTER TABLE `Mantenimiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Persona`
--

DROP TABLE IF EXISTS `Persona`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Persona` (
  `idPersona` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(45) DEFAULT NULL,
  `apellido` varchar(45) DEFAULT NULL,
  `cuit` bigint NOT NULL,
  `telefono` int DEFAULT NULL,
  PRIMARY KEY (`idPersona`),
  UNIQUE KEY `idPersona_UNIQUE` (`idPersona`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Persona`
--

LOCK TABLES `Persona` WRITE;
/*!40000 ALTER TABLE `Persona` DISABLE KEYS */;
/*!40000 ALTER TABLE `Persona` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Provincia`
--

DROP TABLE IF EXISTS `Provincia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Provincia` (
  `idProvincia` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`idProvincia`),
  UNIQUE KEY `idProvincia_UNIQUE` (`idProvincia`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Provincia`
--

LOCK TABLES `Provincia` WRITE;
/*!40000 ALTER TABLE `Provincia` DISABLE KEYS */;
/*!40000 ALTER TABLE `Provincia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Usuario`
--

DROP TABLE IF EXISTS `Usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Usuario` (
  `idUsuario` int NOT NULL AUTO_INCREMENT,
  `contrase├â┬▒a` varchar(45) DEFAULT NULL,
  `nombreUsuario` varchar(45) DEFAULT NULL,
  `rol` varchar(45) DEFAULT NULL,
  `idPersona` int NOT NULL,
  PRIMARY KEY (`idUsuario`),
  UNIQUE KEY `idUsuario_UNIQUE` (`idUsuario`),
  KEY `fk_Usuario_Persona1_idx` (`idPersona`),
  CONSTRAINT `fk_Usuario_Persona1` FOREIGN KEY (`idPersona`) REFERENCES `Persona` (`idPersona`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Usuario`
--

LOCK TABLES `Usuario` WRITE;
/*!40000 ALTER TABLE `Usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `Usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Vehiculo`
--

DROP TABLE IF EXISTS `Vehiculo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Vehiculo` (
  `idVehiculo` int NOT NULL AUTO_INCREMENT,
  `anio` int DEFAULT NULL,
  `estado` varchar(45) DEFAULT NULL,
  `marca` varchar(45) DEFAULT NULL,
  `modelo` varchar(45) DEFAULT NULL,
  `patente` varchar(10) DEFAULT NULL,
  `tipo` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`idVehiculo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Vehiculo`
--

LOCK TABLES `Vehiculo` WRITE;
/*!40000 ALTER TABLE `Vehiculo` DISABLE KEYS */;
/*!40000 ALTER TABLE `Vehiculo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Viaje`
--

DROP TABLE IF EXISTS `Viaje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Viaje` (
  `idViaje` int NOT NULL AUTO_INCREMENT,
  `estado` varchar(45) DEFAULT NULL,
  `fecha` date DEFAULT NULL,
  `kilometros` float DEFAULT NULL,
  `observaciones` varchar(45) DEFAULT NULL,
  `motivoCancelacion` varchar(45) DEFAULT NULL,
  `precio` float DEFAULT NULL,
  `idCliente` int NOT NULL,
  `idLocalidadOrigen` int NOT NULL,
  `idLocalidadDestino` int NOT NULL,
  `idChofer` int NOT NULL,
  `idVehiculo` int NOT NULL,
  PRIMARY KEY (`idViaje`),
  UNIQUE KEY `idViaje_UNIQUE` (`idViaje`),
  KEY `fk_Viaje_Cliente1_idx` (`idCliente`),
  KEY `fk_Viaje_Localidad2_idx` (`idLocalidadOrigen`),
  KEY `fk_Viaje_Localidad1_idx` (`idLocalidadDestino`),
  KEY `fk_Viaje_Chofer1_idx` (`idChofer`),
  KEY `fk_Viaje_Vehiculo1_idx` (`idVehiculo`),
  CONSTRAINT `fk_Viaje_Chofer1` FOREIGN KEY (`idChofer`) REFERENCES `ChoferXVehiculo` (`idChofer`),
  CONSTRAINT `fk_Viaje_Cliente1` FOREIGN KEY (`idCliente`) REFERENCES `Cliente` (`idCliente`),
  CONSTRAINT `fk_Viaje_Localidad1` FOREIGN KEY (`idLocalidadDestino`) REFERENCES `Localidad` (`idLocalidad`),
  CONSTRAINT `fk_Viaje_Localidad2` FOREIGN KEY (`idLocalidadOrigen`) REFERENCES `Localidad` (`idLocalidad`),
  CONSTRAINT `fk_Viaje_Vehiculo1` FOREIGN KEY (`idVehiculo`) REFERENCES `ChoferXVehiculo` (`idVehiculo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Viaje`
--

LOCK TABLES `Viaje` WRITE;
/*!40000 ALTER TABLE `Viaje` DISABLE KEYS */;
/*!40000 ALTER TABLE `Viaje` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-19 23:47:07
